.menu {
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
		@media (max-width: $mobile) {
			position: fixed;
			width: 100%;
			height: 100%;
			left: -100%;
			top: 0;
			overflow: auto;
			padding: toRem(50) toRem(15) toRem(15) toRem(30);
			transition: left 0.3s;
			&::before {
				content: "";
				position: fixed;
				width: 100%;
				height: toRem(70);
				left: -100%;
				top: 0;
				transition: left 0.3s;
				z-index: 2;
			}
			.menu-open & {
				left: 0;
				&::before {
					left: 0;
				}
			}
		}
	}
	// .menu__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		padding-inline: 12px;
		column-gap: toRem(24);
		// column-gap: 2.749141%; /* 24/873 */
		@media (max-width: $mobile) {
		}
	}
	// .menu__item
	&__item {
		position: relative;
		padding-block: 15px;
		&::after{
			position: absolute;
			content:'';
			bottom: 0;;
			left: 50%;
			translate: -50%;
		width: 120%;
		height: 2px;
		background-color: $mainRed;
		transform: scaleX(0);
		transition: transform .2s ease-in-out;
		}
		
		
		&:hover::after {
			transform: scaleX(1);
		}	
	}
	// .menu__link
	&__link {
		font-size: 14px;

// line-height: 18px; 
line-height: 130%;
text-align: center;
color: #828282;
		@media (max-width: $mobile) {
		}
	}
}

//Burger Icon
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		// display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
