//<QUANTITY>
// Сниппет (HTML): qa
.quantity {
	margin-left: auto;
	// width: 88px;
	height: 34px;
	display: flex;
	// border: 1px solid rgba(166, 166, 166, 0.45);
	// .quantity__button
	&__button {
		width: 34px;
		flex: 0 0 34px;
		position: relative;
		cursor: pointer;
		border-radius: 4px;
		background-color: $mainRed;
		&:not(:last-child) {
			margin-right: 4px;
		}
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transition: all 0.3s ease 0s;
			margin: 0px 0px 0px -4.5px;
			// background-color: #a6a6a6;
			width: 9px;
			height: 1px;
		}
		// @media (any-hover: hover) {
		// 	&:hover {
		// 		&::before,
		// 		&::after {
		// 			background-color: rgba(0, 0, 0, 0.5);
		// 		}
		// 	}
		// }
		// .quantity__button_plus
		&--plus {
			&::before {
				transform: rotate(-90deg);
			}
		}
		// .quantity__button_minus
		&--minus {
		}
	}
	// .quantity__input
	&__input {
		flex: 1 0 52px;
		width: 52px;
		margin-right: 4px;
		input {
			height: 100%;
			font-size: 12px;
			// width: 52px;
			text-align: center;
			border: 1px solid #e8e8e8;
border-radius: 4px;

		}
	}
}
