// Заголовки, общие БЄМ блоки и прочее...
.button {
	width: 100%;
		padding-block: 12px;
		border: 2px solid $mainRed;
		border-radius: 2px;
		font-weight: 500;
		line-height: 100%;
		color: $mainRed;
}